body {
    font-family: Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
    background-image: url("/assets/Img/v1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #815b09;
    text-align: left;
    padding: 10px 0;
    z-index: 1000;
}

#title {
    font-size: 36px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: #815b09;
    color: #fff;
}

.navbar-brand {
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

.menu-container {
    position: relative;
}

.menu-logo {
    background-color: #815b09;
    margin: 0px;
}

.menu-logo img {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.navbar-nav {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #815b09;
    padding: 0;
    margin: 0;
    color: #fff;
    box-shadow: 0 8px 16px #1ca700;
}

.navbar-nav .nav-item {
    margin: 0;
    width: 100%;
}

.navbar-nav .nav-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    white-space: nowrap;
    color: #fff;
}

.navbar-nav .nav-link:hover {
    background-color: #575757;
}

/* Afficher le menu lors du survol */
.menu-container:hover .navbar-nav {
    display: flex;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 41%;
    left: 20px;
    transform: translateY(-50%);
    width: 12%;
    background-color: #cdac67;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #815b09;
}

.sidebar-content {
    text-align: center;
}

/* page 3 Les themes*/

}

.rectangles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px; 
}

.rectangle {
    display: flex;
    align-items: center;
    width: 1300px;
    height: 1200%; 
    margin-bottom: 20px; 
    background-color: #cdac67; 
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #815b09;
   
}

.text {
    order:1;
   text-align: left;
   margin-right: 250px;
   margin-left: 250px;
   color:#fff;
   font-size: 40px;
}

.image-button {
    order:2;
    border: none;
    background: none;
    padding: ;
    cursor: pointer;
    overflow: hidden;
    height: 100%;
    width: 800px;
}

.image-button img {
    width: 600px; 
    height: 200px ;
    object-fit: cover;
    border-radius: 8px; 
    transition: transform 0.3s ease;
    border: 2px solid #815b09;
}

.image-button:hover img {
    transform: scale(1.1); /* Zoom au survol */
}
.rectangles { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 20px;
 } 
 .rectangle { 
    display: flex; 
    align-items: center; 
    width: 1300px; 
    height: 1200%; 
    margin-bottom: 20px; 
    background-color: #cdac67; 
    padding: 10px; 
    border-radius: 15px; 
    border: 2px solid #815b09;
 } 
 .text { 
    order: 1; 
    text-align: left; 
    margin-right: 250px; 
    margin-left: 250px; 
    color: #fff; 
    font-size: 40px; 
} 
.const-bt3 {
width: 15px;
height: 10px;

}

@media only screen and (max-width: 768px) { 
    .rectangle { 
    display:contents, flex ; 
    align-items: center; 
    width: 400px; 
    height: 800%; 
    margin-bottom: 20px; 
    background-color: #cdac67; 
    padding: 10px; 
    border-radius: 15px; 
    border: 2px solid #815b09;
       
        
    } 
    .text { 
        margin-right: 10px; 
        margin-left: 10px; 
        font-size: 30px; 
    } 
.footer { 
    position:fixed;
}}
    
/* Bas de page */

.footer {
    font-size: 20px;
    text-align: left;
    background-color: #815b09;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}